table{
    border-collapse: collapse;
    width: 100%;
}
table, th, td {
    border: 1px solid black;
}
th, td {
    padding: 10px;
    text-align: left;
}
input{
    width: 200px;
    padding: 10px;
    margin-bottom: 10px;
}